<table>
  <tr>
    <td><%= t("ext_campaign_manager_title") %>:</td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= t("ext_campaign_manager_start_date") %>:</td>
    <td><%= f.unobtrusive_date_text_picker :start_date %></td>
  </tr>
  <tr>
    <td><%= t("ext_campaign_manager_end_date") %>:</td>
    <td><%= f.unobtrusive_date_text_picker :end_date %></td>
  </tr>
  <tr>
    <td><%= t("ext_campaign_manager_taxonomy_root") %>:</td>
    <td><%= f.collection_select :taxonomy_id, Taxonomy.all, :id, :name %></td>
  </tr>
  <tr>
    <td><%= t("ext_campaign_manager_image") %>:</td>
    <td>
      <% if @campaign.image.exists? -%>
      <%= image_tag @campaign.image.url(:thumb) %><br />
      <% end -%>
      <%= f.file_field :image %>
    </td>
  </tr>
</table>
