<%= button_link_to t("new_campaign"), new_object_url, :icon => 'add' %>

<h1><%= t("ext_listing_campaigns") %></h1>
<table class="index">
  <thead>
    <th><%= t("ext_campaign_manager_title") %></th>
    <th><%= t("ext_campaign_manager_start_date") %></th>
    <th><%= t("ext_campaign_manager_end_date") %></th>
    <th><%= t("ext_campaign_manager_taxonomy_root") %></th>
    <th><%= t("ext_campaign_manager_image_thumbnail") %></th>
    <th></th>
  </thead>
  <% @campaigns.each do |campaign| -%>
  <tr id="<%= dom_id campaign %>">
    <td><%= h campaign.title %></td>
    <td><%= h campaign.start_date %></td>
    <td><%= h campaign.end_date %></td>
    <td><%= h campaign.taxonomy.name if !campaign.taxonomy.nil? %></td>
    <td>
      <% if campaign.image.exists? -%>
      <%= image_tag campaign.image.url(:thumb) %>
      <% end -%>
    </td>
    <td class="taxonomy">
      <%= link_to_edit campaign %>
      <%= link_to_delete campaign %>
    </td>
  </tr>
  <% end -%>
</table>

<% if params[:page] && params[:page] != '1' %>
<%= link_to "First", collection_url %>
<% elsif @collection.total_pages > 1 -%>
<span class="disabled">First</span>
<% end -%>
<%= will_paginate(:previous_label => "#{t('previous')}", :next_label => "#{t('next')}", :container => false) %>
<% if @collection.total_pages > 1 && params[:page] != @collection.total_pages.to_s %>
<%= link_to "Last", collection_url(:page => @collection.total_pages) %>
<% elsif @collection.total_pages > 1 -%>
<span class="disabled">Last</span>
<% end -%>
